.header {
    padding: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @media (max-width: 760px) {
        padding: 150px 30px 100px 20px;
    }

    &__title {
        font-size: 3rem;
        margin-bottom: 25px;

        @media (max-width: 760px) {
           font-size: 2.5rem;
        }

        @media (max-width: 370px) {
           font-size: 2rem;
        }
    }

    &__subtitle {
        font-size: 1rem;
        margin-bottom: 48px;
        @include medium;

        &--primary {
            color: #F47821;
            @include bold;
        }
    }

    &__button {
        width: 250px;
        height: 54px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        position: relative;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;

        &::before {
            content: "";
            width: 50px;
            height: 50px;
            position: absolute;
            top: 3px;
            left: 16px;
            background-color: rgba(135, 135, 135, 0.05);
            border-radius: 50px;
            transition: .5s;
        }
        
        &:hover, &:active {
            &::before {
                width: 235px;
            }
        }

        span {
            margin-right: 10px;
            line-height: 50px;
            font-size: 1.6rem;
            color: #F47821;
            @include medium;
        }
        p {
            line-height: 54px;
            text-transform: uppercase;
            @include bold;
            
        }
    }
}   